/*________________________________*/
/* HEADER */
.topheader {
    background-color: #ffffff;
    color: #4f5255;
    font-size: 15px;
}

.topheader>ul {
    list-style: none;
}

.topheader li {
    display: inline;
    padding: 0.5rem 1rem;
    font-family: 'Montserrat', sans-serif;
}

.topsr {
    background-color: #E5E5E5;
    margin-bottom: 20px;
}

.csrt {
    font-family: 'Montserrat', sans-serif;
    color: #585858;
    font-size: 0.9rem;
    margin-left: 2%;
}
@media screen and (max-width: 500px) {
    .menu a {
      float: none;
      display: block;
    }
  }

/*____________________________________________*/

.usarbphoto{
    margin-top:-5px;
    width: 100%;
    height: auto;
}
form input[type=text]{
    border-radius: 15px;
    width: 450px;
    margin-top: 20px;
    margin-right: 15px;
}
form button {
    float: right;
    margin-top: -45px;
    margin-right: -55px;
    cursor: pointer;
    color: rgb(102, 100, 100);
  }

.csrt a i {
    margin-left: 130px;
    margin-top: 25px;
    color: rgb(96, 97, 100);

}
#offCanvas{
    margin-top: 150px;
    width: 1410px;
    margin-left: 15px;
}
.btn-menu{
    padding-top: 20px;
    width: 150px;
}
.menu-vertical{
font-family: 'Montserrat', sans-serif;
list-style: none;
padding: 25px;
line-height: 3;
}

.vertline {
    border-left: 2px solid rgb(96, 100, 96);
    height: 590px;
    margin-left: 200px;
    margin-top:-350px;
  }
#logousarb{
    margin-left: 5px;
}
.card{
    margin-top: 30px;
}

.level1 a{
    display: block;
    margin-left: 20px;
    margin-top: -20px;
    text-align:left;
    text-indent: -2em;
}
.dropbtn{
    margin-left: 180px;
    padding: 0 18px;
}
.dropdown .is-dropdown-submenu a {
    margin-top: -40px;
    line-height: 30px;
}
.is-dropdown-submenu{
    width: 250px;
}
  
/*#header {
    padding: 10px 0;
    @include breakpoint(small down) {
    padding: 0;
}
    .columns {
    @include breakpoint(small down) {
    padding: 0;
    }
}

.header-logo{
    width: 15px;
    margin-right: 10px;
}
li{
    color:none;
}
.top-bar {
    background: none;
    padding: 0;
  
    @include breakpoint(small down) {
    padding: 20px 0;
}
    ul {
    background: none;
}
    a {
    color: $black;
    @include breakpoint(small down) { 
    padding: 0 10px;
}   
    &:hover {
    color: $primary-color;
        }
      }
    }
}
li{
    float: left;
}*/
