@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*menu 1*/
.topheader {
    background-color: #ffffff;
    color: #4f5255;
    font-size: 15px;
}
.topheader>ul {
    list-style: none;
}

.topheader li {
    display: inline;
    padding: 0.5rem 1rem;
    font-family: 'Montserrat', sans-serif;
}
.fa-bars{
    padding: 0 10px;
}
.topsr {
    background-color: #E5E5E5;
    margin-bottom: 20px;
}
#logousarb{
    margin-left: 5px;
}
.csrt {
    font-family: 'Montserrat', sans-serif;
    color: #585858;
    font-size: 0.9rem;
    margin-left: 2%;
}


/*menu items*/
.level1 a{
    display: block;
    margin-left: 20px;
    margin-top: -20px;
    text-align:left;
    text-indent: -2em;
}
.dropbtn{
    margin-left: 180px;
    padding: 0 18px;
}
.dropdown .is-dropdown-submenu a {
    margin-top: -40px;
    line-height: 30px;
}
.is-dropdown-submenu{
    width: 250px;
}

/*mainphoto*/
.usarbphoto{
    margin-top:-5px;
    width: 100%;
    height: auto;
}
/*search bar*/
form input[type=text]{
    border-radius: 15px;
    width: 450px;
    margin-top: 20px;
    margin-right: 15px;
}
form button {
    float: right;
    margin-top: -45px;
    margin-right: -55px;
    cursor: pointer;
    color: rgb(102, 100, 100);
  }

.csrt a i {
    margin-left: 130px;
    margin-top: 25px;
    color: rgb(96, 97, 100);
}
/*Canvas menu*/
#offCanvas{
    margin-top: 5px;
    width: 250px;
    margin-left: 15px;
}
.btn-menu{
    padding-top: 20px;
    width: 150px;
    margin-left: -20px;
}
#menu-vertical{
font-family: 'Montserrat', sans-serif;
list-style: none;
margin-top: 20px;
padding: 25px;
line-height: 0.7;
}   
/*.vertline {
    border-left: 2px solid rgb(96, 100, 96);
    height: 540px;
    margin-left: 200px;
    margin-top:-470px;
}
.secondaryItem, li{
    list-style: none;
    margin-left: 10px;
}
.mainItem{
    font-size: 18px;
    }
#container-1{
    display: flex;
    margin-left: 300px;
    margin-top: -540px;
    flex-direction: column;
    line-height: 2;
    font-family: 'Montserrat', sans-serif;
}
#container-2{
    margin-left: 670px;
    margin-top: -350px;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
}
#container-3{
    margin-left: 1070px;
    margin-top: -157px;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    line-height: 2.8;
}
#container-4{
    margin-left: 300px;
    margin-top: -100px;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
}
#container-5{
    margin-left: 800px;
    margin-top: -205px;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
}
#container-6{
    margin-left: 800px;
    margin-top: -50px;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
}
#box-1, #box-2, #box-3, #box-4, #box-5, #box-6, #box-7,#box-8, #box-9{
    flex: 1;
    display:none;
}

#box-10, #box-11,#box-12,#box-13,#box-14,#box-15,#box-16,#box-17{
    flex: 1;
    display:none;
}
#box-18, #box-19,#box-20,#box-21{
    flex: 1;
    display: none;
}*/
/*section1*/
.line {
    border-left: 2px solid #548562;
    height: 20px;
    margin-left: 130px;
    margin-top:-22px;
  }
.text{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    margin-left: 135px;
    margin-top: 15px;
    color: rgb(49, 47, 47);
}
/*Cards Noutati*/
.card{
    margin-top: 20px;
}
.card img{
    width: 400px;
    height: 250px;
}
.card-section{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    width: 380px; 
}
.card p{
    word-wrap: break-word;
}
.fa-arrow-right{
    margin-left: 240px;
}
h6{
    font-family: 'Montserrat', sans-serif;
}
/*CARDS AVIZE*/
.cards {
    display: flex;
    width: 1320px;
}
.card_item {
    background: white;
    border-radius: 1rem;
    padding: 2rem;
    margin-left: 100px;
    margin-top: 25px;
    padding-left: 10px;
    box-shadow: 3px 3px 12px 2px rgba(black, 0.6);
    transition: 0.2s;
}
.card_item h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color: rgb(10, 10, 10);
}
.card_item:not(:first-child) {
    margin-left: -2rem;
}
.card_item:not(:last-child):hover,
.card_item:not(:last-child):focus-within {
transform: translateY(-1rem);
~ .card_item {
    transform: translateX(2rem);
    }
  }
.cards img{
    width: 250px;
    margin-left: 20px;
    border-radius: 10px;
}
.cards h5{
    text-align: center;
}
/*footer*/
.footer {
	width: 100%;
	background: #e7e5e5;
	display: block;
    margin-top: 30px ;
 }

 .inner-footer {
	width: 95%;
	margin: auto;
	padding: 20px 10px;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: center;
 }

.footer-items {
	width: 25%;
	padding: 10px 20px;
	box-sizing: border-box;
	color: rgb(80, 79, 79);
}

.footer-items h3 {
	color:  #4f5255;
    font-size: 27px;
    font-family: 'Montserrat', sans-serif ;
}

.border1 {
	height: 3px;
	width: 40px;
	background: #6ba17b;
	color: #6ba17b;
	background-color: #6ba17b;
	border: 0px;
}

.footer ul {
	list-style: none;
	color:  #4f5255;;
	font-size: 15px;
	letter-spacing: 0.5px;	
    font-family: 'Montserrat', sans-serif;
}


 .footer ul a {
	text-decoration: none;
	outline: none;
	color:  #464749;;
	transition: 0.3s;
 }

.footer ul a:hover {
	color: #548562;
}

.footer ul li {
	margin: 10px 0;
	height: 25px;
}

.footer li i {
	margin-right: 20px;
}

.footer .social-media {
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: 20px;
}

.footer .social-media a {
	text-decoration: none;
}

.footer .social-media i {
	height: 25px;
	width: 25px;
	margin: 20px 10px;
	padding: 4px;
	color: #fff;
	transition: 0.5s;
}

.footer .social-media i:hover {
	transform: scale(1.5);
}

.footer-bottom {
	padding: 10px;
	background: #6ba17b;
	color: #fff;
	font-size: 12px;
	text-align: center;
}
.center{
    margin-left: 40px;
}

@media screen and (max-width: 500px) {
    .topheader a {
      float: none;
      display: block;
    }
}
@media screen and (max-width: 600px) {
    .topsr .csrt {
      float: none;
    }
    .topsr, .topsr input[type=text], .csrt{
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
      }
      .topnav input[type=text] {
        border: 1px solid #ccc;  
      }
}

@media screen and (max-width: 1275px) {
	.footer-items  {
		width: 50%;
	}
}
@media screen and (max-width: 660px) {
	.footer-items {
		width: 100%;
	}
}
@media screen and (max-width: 1275px) {
	 .cards {
        margin-left: -20px;
		width: 90%;
	}
}

@media screen and (max-width: 660px) {
	 .cards {
		width: 100%;
	}
}
@media screen and (max-width: 1275px) {
    .card{
       width: auto;
       height: auto;
   }
}
@media screen and (max-width: 660px) {
    .card {
       width: 100%;
   }
}

@media screen and (max-width: 1060px) {
    form {
       width: 50%;
   }
}

@media screen and (max-width: 1275px) {
    .csrt {
        float:right;
        display: block;
   }
}
@media screen and (max-width: 1000px) {
    .csrt{
        float:none;
        display: block;
   }
}
.nav-main {
    transition: right .25s ease-in-out;
    position: fixed;
    overflow-x: hidden;
    width: 280px;
    right: -280px;
    top: 20px;
    bottom: 0;
    font-family: 'Montserrat' , sans-serif;
  }
  
.nav-main .nav-container {
    transition: left .25s ease-in-out;
    position: relative;
    left: 0
  }
  
.nav-main .nav-container.show-sub { left: -280px }
  
  .nav-main .nav-container ul {
    margin: 0;
    padding: 0 20px
  }
  
.nav-main .nav-container ul li {
    list-style: none;
    border-bottom: 1px solid #d5d7da
  }
  
.nav-main .nav-container ul li a {
    text-decoration: none;
    display: block;
    padding: 15px 0;
    color: #4d5152;
    font-size: 16px
  }
  
.nav-main .nav-container ul li a:hover { color: #4d5152 }
  
.nav-main .nav-container ul li ul {
    display: none;
    width: 280px;
    position: absolute;
    right: -280px;
    top: 0
  }
  
.nav-main .nav-container ul li ul li { border: 0 }
  
.nav-main .nav-container ul li ul li.nav-label {
    border-top: 1px solid #d5d7da;
    padding: 20px 0 23px
  }
  
.nav-main .nav-container ul li ul li a {
    padding: 7px 0 15px;
    font-size: 14px
  }
  
.nav-main .nav-container ul li ul li a.back {
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    margin-right: 30px;
    font-family: 'Montserrat', sans-serif;
  }

.nav-main .nav-container ul li.has-sub-nav a { background: url(img/arrow-right.png) right center no-repeat }
  
.nav-main .nav-container ul li.has-sub-nav ul a { background: 0 0 }
  
.nav-main .nav-container ul li.active ul { display: block }
  
.open .nav-main { left: 0 }


  
