<div class="footer">
    <div class="inner-footer">
    <div class="footer-items">
        <h3>Adresa Universității:</h3>
        <div class="border1"></div> 
          <ul>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Str. Pușkin, nr. 38 MD-3100 Bălți</li>
          </ul>
      </div>
      <div class="footer-items">
          <div class="center">
        <h3>Contacte</h3>
        <div class="border1"></div>  <!--for the underline -->
          <ul>
            <li><i class="fa fa-phone" aria-hidden="true"></i>+373 231 52430
            </li>
          </ul>
      </div></div>
 <!--for contact us info -->
      <div class="footer-items">
        <h3>Link-uri utile:</h3>
        <div class="border1"></div>
          <ul>
            <li><i class="fas fa-external-link-alt"></i><a href="http://www.usarb.md/" target="_blank">http://www.usarb.md/</a></li>
            <li><i class="fas fa-external-link-alt"></i><a href="https://www.facebook.com/usarb.balti" target="_blank">https://www.facebook.com/usarb.balti</a></li>
          </ul> 
      </div>
    </div>
  <!--   Footer Bottom start  -->
    <div class="footer-bottom">
      Copyright &copy;2004-2021
    </div>
</div>